---
http_interactions:
- request:
    method: get
    uri: http://api.ipstack.com/google.com?access_key=<SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-apilayer-transaction-id:
      - ede09aa3-00ec-47fd-abad-570bc815c06c
      x-quota-limit:
      - '1000'
      x-quota-remaining:
      - '989'
      x-increment-usage:
      - '1'
      x-request-time:
      - '0.028'
    body:
      encoding: UTF-8
      string: '{"ip": "172.253.63.100", "type": "ipv4", "continent_code": "NA", "continent_name":
        "North America", "country_code": "US", "country_name": "United States", "region_code":
        "CA", "region_name": "California", "city": "Mountain View", "zip": "94043",
        "latitude": 37.419158935546875, "longitude": -122.07540893554688, "location":
        {"geoname_id": 5375480, "capital": "Washington D.C.", "languages": [{"code":
        "en", "name": "English", "native": "English"}], "country_flag": "https://assets.ipstack.com/flags/us.svg",
        "country_flag_emoji": "\ud83c\uddfa\ud83c\uddf8", "country_flag_emoji_unicode":
        "U+1F1FA U+1F1F8", "calling_code": "1", "is_eu": false}}'
  recorded_at: Thu, 23 Nov 2023 23:51:16 GMT
recorded_with: VCR 6.2.0
